body{background-color:var(--GS11);  overflow-x: hidden;}
header{background-color:var(--GS02); position:fixed; width:100%; z-index:999;}
header>h1>a>img{max-width:44px;}

header>div>div.chessGun>ul>li:nth-child(3),.noUser>ul>li:nth-child(2){background-image:url('../images/cartBlack.png');}
header>div>div.chessGun>ul>li:nth-child(3):hover,.noUser>ul>li:nth-child(2):hover{background-image:url('../images/cartBlue.png');}
header>div>div.chessGun>ul>li:nth-child(4),.noUser>ul>li:nth-child(3){background-image:url('../images/account.png');}
header>div>div.chessGun>ul>li:nth-child(4):hover,.noUser>ul>li:nth-child(3):hover{background-image:url('../images/accountBlue.png');}
header>div>div.chessGun>ul>li:last-child,.noUser>ul>li:nth-child(4){background-image:url('../images/login.png');}
header>div>div.chessGun>ul>li:last-child:hover,.noUser>ul>li:nth-child(4):hover{background-image:url('../images/loginBlue.png');}
header>div>div.chessGun ul li:nth-child(2){background-color:var(--B03); box-sizing:border-box; border-radius:5px; max-width:138px; margin:10px auto;}
header>div>div.noUser>ul>li,header>div>div.chessGun>ul>li:not(:nth-child(2))>a{padding:var(--sp10) var(--sp20);}
header>div>div:nth-of-type(2) ul li:not(:last-of-type){border-bottom:1px solid var(--GS04);}
.search-Toggle{position:relative; cursor:pointer; align-items:center; background:url('../images/search.png') no-repeat center center; width:19px; height:19px;}
.search-Panel{background-color:var(--GS03); border:4px solid var(--GS01); color:var(--B03); height:45px; padding:10px 50px; position:absolute; left:0px; top:50%; transform:translateY(-50%); outline:none; background-image:url('../images/search.png'),url('../images/close.png'); background-repeat:no-repeat,no-repeat; background-position:10px center,right 10px center; background-size:19px 19px,11px 11px; z-index:100;}
header>div>div input[type=button]{background:url('../images/cart.png') no-repeat center center; width:19px; height:19px; text-indent:-9999px; position:relative; z-index:10;}
header>div>div:nth-of-type(2) ul li{line-height:50px; text-align:center; background-position:left 35px center; background-repeat:no-repeat;}
header>div>div.chessGun ul li:nth-child(1){background-image:url('../images/checkout_alienware.png'); padding:var(--sp25) 0px var(--sp25) var(--sp60); line-height:21px;}
footer{background-color: #111;}
footer>div{padding-block:var(--sp30);}
@media screen and (max-width:767px){
    header>div>nav.is-active ul li ol{padding:var(--sp10) var(--sp20);}
    footer h2 img{display:block; text-align:center; align-items:center;}
    footer>div>ul:first-of-type{padding-bottom:var(--sp80s);  order:2;}    
    footer>div>ul>li>strong.active+ol:before{content:''; background-color:var(--GS08); width:100%; height:1px; position:absolute; left:0px; bottom:0px;}
    footer div>ul:last-of-type{display:block; order:2;}
    footer div>ul:last-of-type li:not(:last-of-type){margin-bottom:var(--sp20);}
}
@media screen and (min-width:768px) and (max-width:1279px){
    header>div>nav.is-active ul li ol,footer>div>ul:first-of-type li ol{padding:var(--sp10) var(--sp20); display:grid; grid-template-columns:repeat(3,1fr);}
    header>div>nav.is-active ul li ol li:nth-child(3n+2),footer>div ul:first-of-type li ol li:nth-child(3n+2){text-align:center;}
    header>div>nav.is-active ul li ol li:nth-child(3n+3),footer>div ul:first-of-type li ol li:nth-child(3n+3){text-align:right;}
    footer>div>ul:first-of-type{padding-bottom:var(--sp140); order:2;}    
    footer div>ul:last-of-type{display:flex; flex-wrap:wrap; order:2; gap:20px;}
}
@media screen and (max-width:1279px){
    header>div,div.listContainer>div,
    footer>div{
        margin:0 auto; width:93.5%; 
   }
    header > div,
    .details > ul,
    .details > h4,
    section.detailContainer > div:nth-of-type(3) nav ul,
    section.detailContainer > div:first-child > div,
    .returns,
    ul.bar li,
    div.dark > div > div:nth-of-type(2) ul {
        padding-inline: 3.25%; 
   }
    header>div>nav.is-active ul li ol:after{content:''; background-color:var(--GS08); width:100%; height:1px; position:absolute; left:0px; bottom:-10px;}
    header>div>nav,header>div>a{display:none;}
    header>div{position:relative; width:100%; 
        display:flex;align-items:center; 
        height:60px; gap:35px;}
    header>div>div:first-of-type,header>div>div:first-of-type:nth-of-type(2){margin-left:auto;}
    header>div>nav.is-active{position:absolute; width:100%; background-color:var(--GS10); left:0px; top:60px; display:block;}
    header>div>nav.is-active ul{margin:var(--sp20) var(--sp25) 0px; padding-bottom:var(--sp20);}
    header>div>div:nth-of-type(2) ul{position:absolute; top:100%; right:0; background-color:var(--GS02); border-top:1px solid var(--GS04); min-width:242px; border-radius:15px; margin-right:25px;}
    header>div>nav.is-active ul li{position:relative; width:100%;}
    header>div>nav.is-active ul li b{display:block; padding:var(--sp20) 0; color:var(--B05); position:relative; cursor:pointer;}
    header>div>nav.is-active ul li b:before{content:''; background-color:var(--GS08); width:100%; height:1px; position:absolute; top:50px;}
    header>div>nav.is-active ul li b.active::after{transform:translateY(-50%) rotate(180deg);}
    header>div>nav.is-active ul li:nth-of-type(2n) b{color:var(--B02);}
    header>div>nav.is-active ul li b::after{content:''; width:14px; height:9px; background:url('../images/blueShowMore.png') no-repeat right center; position:absolute; right:0; top:50%; transform:translateY(-50%); transition:transform 0.3s ease;}
    header>div>nav.is-active>ul>li>ol li a{color:var(--GS08);}
    header>div>nav.is-active ul li ol li{line-height:35px;}
    header>div>nav.is-active>ul>li>ol li a:hover{color:var(--B05);}
    header>div>nav.is-active>ul>li:nth-of-type(2n)>ol li a:hover{color:var(--B02);}
    .hamburger span{width:25px; height:2px; display:block; margin:5px auto; background-color:var(--GS11); transition:all 0.3s ease-in-out;}
    .hamburger.is-active{transition:all 0.2s ease-in-out; transition-delay:0.4s; transform:rotate(45deg);}
    .hamburger.is-active span{background-color:var(--GS01);}
    .hamburger.is-active span:nth-child(1){transform:translateY(7.5px);}
    .hamburger.is-active span:nth-child(3){transform:translateY(-7.5px) rotate(270deg);}
    header:has(.hamburger.is-active) .cart-Panel,header:has(.hamburger.is-active) .search-Panel{display:none !important;}
    .search-Panel{width:100%;}
    header.is-active{background-color:var(--GS10);}
    footer>div{
        position:relative;
        display:flex; flex-direction:column;
    }
    
    footer h2{order:1;}
    footer h2 img{max-width:240px; margin:0 auto 25px;}
    footer>div>ul:first-of-type>li>strong:before{content:""; position:absolute; width:10px; height:6px; transition:transform 0.3s ease-in-out; background-image:url('../images/arrow.png'); right:0; top:10px;}
    footer>div>ul:first-of-type>li>strong{display:block; cursor:pointer; position:relative; padding-bottom:var(--sp20); width:100%; margin-bottom:var(--sp15);}
    footer>div>ul>li>ol{opacity:0;}
    footer>div>ul:first-of-type li ol li{padding-bottom:var(--sp20);}
    footer>div>ul:first-of-type strong::after{content:''; position:absolute; background-color:var(--GS08); width:100%; height:1px; left:0; top:30px;}
    footer>div>ul>li>strong.active+ol{opacity:1; position:relative; margin-bottom:var(--sp15);}
    footer>div>ul:first-of-type>li>strong.active:before{transform:rotate(180deg);}
    footer>div>ul:first-of-type li>ol>li a{white-space:nowrap;}
}
@media screen and (min-width:1280px){
    header>div,
    main > div:nth-of-type(3),
    div.listContainer>nav>ul,
    div.listContainer>div,
    section.detailContainer > div:nth-of-type(2) table,
    section.detailContainer > div:first-child > div,
    div.details .legend nav > div img,
    .accountContainer > div,
    div.dark > div,
    .twowrap > div,
    div.wave > div.supportSearch,
    div.wave >*,
    div.wave > ul,
    article.rightsInfo,
    footer>div{
        max-width:1200px; margin-inline: auto; 
   }
    header>div{position:relative; width:100%; height:60px; display: flex; justify-content: space-between; align-items: center;}
    header>div>nav{width:59%; margin-left:16.66%;}
    header>div>nav ul li{display:inline-block; position:relative;}
    header>div>nav>ul>li:not(:first-child){margin-left:5.42%;}
    header>div>nav>ul>li>b{line-height:60px;}
    header>div>nav>ul>li>b:after{bottom:10px; content:""; display:block; height:2px; left:50%; position:absolute; background:var(--B05); transition:width 0.3s ease 0s,left 0.3s ease 0s; width:0;}
    header>div>nav>ul>li:hover b::after{width:100%; left:0;}
    header>div>nav>ul>li ol{background-color:var(--GS02); position:absolute; top:100%; left:-30%; opacity:0; border-top:1px solid var(--GS04); transition:opacity 0.5s,top 0.5s; min-width:182px; visibility:hidden;}
    header>div>nav>ul>li:hover ol{opacity:1; top:60px; visibility:visible;}
    header>div>nav>ul>li>ol>li{width:100%;}
    header>div>nav>ul>li>ol>li>a{padding:var(--sp10) var(--sp20); display:block;}
    header>div>nav>ul>li>ol>li:hover{box-shadow:rgba(0,0,0,0.35) 0px 5px 15px; background-color:var(--GS03);}
    div.hamburger{display:none;}
    .search-Panel{width:95%;}
    header>div>div:nth-of-type(2) ul{display:none; position:absolute; top:100%; right:0; background-color:var(--GS02); border-top:1px solid var(--GS04); min-width:242px; border-radius:15px;}
    header>div>a{background:url('../images/support.png') no-repeat center center; width:19px; height:22px; text-indent:-9999px;}    
    footer>div>ul:first-of-type{max-width:800px;}
    footer>div>ul{display:flex; justify-content:space-between;}
    footer>div>ul>li{position:relative; margin-bottom:var(--sp15);}
    footer>div>ul>li>ol{position:absolute; top:100%; left:0; visibility:hidden; opacity:0; transition:opacity 0.3s ease,visibility 0.3s ease;}
    footer>div>ul>li:hover>ol{visibility:visible; opacity:1;}
    footer>div>ul>li>ol>li{margin-bottom:var(--sp10); white-space:nowrap;}
    footer>div>ul>li>strong{display:inline-block; cursor:pointer; position:relative; margin-bottom:var(--sp15); transition:transform 0.3s ease-in-out;}
    footer>div>ul>li>strong:before{content:""; position:absolute; top:50%; right:-20px; transform:translateY(-50%); width:10px; height:6px; background:url('../images/arrow.png') no-repeat center center; background-size:contain; transition:transform 0.3s ease-in-out;}
    footer>div>ul>li:hover>strong:before{transform:translateY(-50%) rotate(180deg);}
    footer>div>ul:first-of-type{margin-bottom:var(--sp110);}
    footer h2 img{max-width:240px; display:block; margin-bottom:var(--sp110);}
    footer h2{display:flex; justify-content:flex-end;}
    footer>div>ul:nth-of-type(2){max-width:910px;}
}
/* roughly 906 */