:root{
    --pink:#c09090;
    --red:#ff0000;
    --yellow:#fff000;
    --green:#427a79;
    --sand: #e0d9cf;
    --B01:#00e7e7;
    --B02:#30acd5;
    --B03:#509fc9;
    --B04:#0083ca;
    --B05:#676eff;
    --B06:#be92ff;
    --GS01:#ffffff;
    --GS02:#f6f6f6;
    --GS03:#eeeeee;
    --GS04:#e2e2e2;
    --GS05:#909090;
    --GS06:#8a8a8a;
    --GS07:#666666;
    --GS08:#5e5e5e;
    --GS09:#4e4e4e;
    --GS10:#2b2b2b;
    --GS11:#222222;
    --GS12:#000;
    --sp10: 10px;
    --sp15: 15px;
    --sp20: 20px;
    --sp25: 25px;
    --sp30: 30px;
    --sp35: 35px;
    --sp40: 40px;
    --sp50: 50px;
    --sp60: 60px;
    --sp70: 70px;
    --sp75: 75px;
    --sp80: 80px;
    --sp80s: 80px;
    --sp85: 85px;
    --sp110: 110px;
    --sp120: 120px;
    --sp130: 130px;
    --sp140: 140px;
    --sp145: 145px;
    --sp190: 190px;
    --sp345: 345px;
}
[class^='rz']{font-family: 'razerF5';}
[class^='rb']{font-family: 'Roboto';}
[class^='tw']{font-family: 'Titillium Web';}
[class*='uc']{text-transform: uppercase;}
[class*='TH']{font-weight: 100;}
[class*='LT']{font-weight: 300;}
[class*='RG']{font-weight: 400;}
[class*='MD']{font-weight: 500;}
[class*='SB']{font-weight: 600;}
[class*='BL']{font-weight: 700;}
[class$='Up']{padding-top: 115px;}
[class$='Panel'], [class$='Popup']{display: none;}
[class$='Panel'].active, [class$='Popup'].active{
    display: block;
}
[class*=BG12]{
   background-color: var(--GS12);
}
[class*='fff']{
   color: var(--GS01);
}
[class*='GS03']{
   color: var(--GS03);
}
[class*='GS04']{
   color: var(--GS04);
}
[class*='GS05']{
   color: var(--GS05);
}
[class*='GS06']{
   color: var(--GS06);
}
[class*='GS08']{
   color: var(--GS08);
}
[class*='GS09']{
   color: var(--GS09);
}
[class*='GS11']{
   color: var(--GS11);
}
[class*='hovBlue']:hover{
   color: var(--B02);
}
[class*='devil']{
   color: var(--GS07);
}
[class*='cb01']{
   color: var(--B01);
}
[class*='cb02']{
   color: var(--B02);
}
[class*='cb03']{
   color: var(--B03);
}
[class*='cb04']{
   color: var(--B04);
}
[class*='cb05']{
   color: var(--B05);
}
[class*='cb06']{
   color: var(--B06);
}
[class*='12']{
   font-size: 12px;
}
[class*='14']{
   font-size: 14px;
}
[class^=btn-]{
    display: block;
    overflow: hidden;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
[class*=more]{
    z-index: 99;
    border: 1px solid var(--B04);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}
[class*="corner"]::before,[class*="corner"]::after,[class*="corner"] span::before, [class*="corner"] span::after, [class*="slice"]:before,[class*="slice"]:after, [class$="Back"]:before, [class$="Back"]:after, [class$="long"]:before{
    position: absolute;
    content: "";
}
[class*="slice"]:before,[class*="slice"]:after {
    transition: 0.7s ease-in-out;
    width: 0;
    height: 0;
    border: 0 solid;
    transform: rotate(360deg);
    z-index: -21;
    opacity: 80%;
}
[class*="slice"]:before {
   background: transparent transparent transparent var(--B05);
   bottom: 0;
    left: 0;
   border-color: transparent transparent transparent var(--B05);
}
[class*="slice"]:after {
   background:transparent var(--B04) transparent transparent;
    top: 0;
    right: 0;
   border-color: transparent var(--B04) transparent transparent;
}
[class*="slice"]:hover:before, [class*="slice"]:hover:after {
   border-width: 120px 340px;
}
[class*="corner"]::before,[class*="corner"]::after,[class*="corner"] span::before, [class*="corner"] span::after {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--B04);
    transition: transform 0.3s;
    z-index: -20;
}
[class*="corner"]::before {
    transform: translate(-100%, -100%);
}
[class*="corner"]::after {
    transform: translate(-100%, 100%);
}
[class*="corner"] span::before {
    transform: translate(100%, -100%);
}
[class*="corner"] span::after {
    transform: translate(100%, 100%);
}
[class*="corner"]:hover::before {
    transform: translate(-50%, -50%);
}
[class*="corner"]:hover::after {
    transform: translate(-50%, 50%);
}
[class*="corner"]:hover span::before {
    transform: translate(50%, -50%);
}
[class*="corner"]:hover span::after {
    transform: translate(50%, 50%);
}
[class$="Back"]:before, [class$="Back"]:after {
    inset: 0;
    border-bottom: 50px solid var(--B04);
    z-index: -1;
    transition: 0.5s ease-in-out;
}
[class$="Back"]:before{
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}
[class$="Back"]:after{
    left: -50px;
    border-left: 50px solid transparent;
    transform: translateX(100%);
}
[class$="Back"]:hover:before {
   transform: translateX(-30%);
}
[class$="Back"]:hover:after {
   transform: translateX(30%);
}
[class*="long"]{
   max-width: 200px;
    max-height: 45px;
    padding: 15px 0;
}
[class$="long"]:before {
    inset: 0;
    border-bottom: 50px solid var(--B04);
    transition: transform 0.5s;
    z-index: -1;
}
[class$="long"]:before{
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}
[class$="long"]:hover:before {
   transform: translateX(0%);
}
[class$="long"]:before{
    right: -50px;
    border-right: 50px solid transparent;
    transform: translateX(-100%);
}
[class*='Lf'] > *{
    animation: left 1s ease-out;
}
[class*='RT'] > *{
    animation: right 1s ease-out;
}
/* start of image */
[class^='image'] > div h5 {
    padding: var(--sp40) 0;
}
[class^='image'] > div p{
    width: 100%;
}
[class^='image'] > div ul li b{
    margin-bottom: 10px;
    display: block;
}
[class^='middle'] {
    margin: var(--sp40) auto;
    text-align: center;
}
[class^='middle'] {
    margin: var(--sp40) auto;
    text-align: center;
}
[class^='middle'] > img, [class^='full'] > img, [class^='middle'] > video {
    margin: var(--sp80) auto;
    width: 100%;
    object-fit: cover;
}
[class^='middle'] > h5, [class^='middle'] > div h5 {
    margin-bottom: var(--sp40);
}
[class^='middle'] ol li {
    color: var(--GS05);
    margin-bottom: var(--sp30);
    list-style: decimal;
    list-style-position: inside;
}
[class^='middle'] > ol li:last-of-type {
    margin-bottom: 10px;
}
[class^='full'] {
    margin: var(--sp40) auto;
    text-align: center;
}
[class^='full'] > p{
    margin: 0 auto;
}
[class*='west'],[class*='east'],[class*='north']{
    filter: blur(5px);
    transition: all 2s;
}
[class*='west']{
    transform: translateX(-100%);
}
[class*='east']{
    transform: translateX(+100%);
}
[class*='north']{
    transform: translateY(+100%);
    transition: all 1s;
}
[class$="Back"]{
    color: var(--GS01);
    max-width: 160px;
    padding: 14px 0px;
    height: 50px;
}
[class*='floatL']{
   float: left;
}
[class*='w100']{
   width: 100%;
}
[class*='fUno']{
   flex: 1;
}
[class*='flexWrapper']{
   display: flex;
}
[class*='JCmid']{
   justify-content: center;
}
[class*='JCstart']{
   justify-content:flex-start;
}
[class*='JCend']{
   justify-content:flex-end;
}
[class*='JCspace']{
   justify-content: space-between;
}
[class*='JCstretch']{
   justify-content: stretch;
}
[class*='alignC']{
   align-items: center;
}
[class*='alignE']{
   align-items: flex-end;
}
[class*='alignStart']{
   align-items: flex-start;
}
[class*='alignStrech']{
   align-items: stretch;
}
[class*='selfEnd']{
   align-self: flex-end;
}
[class*='dRow']{
   flex-direction: row;
}
[class*='dColumn']{
   flex-direction: column;
}
@media screen and (max-width: 767px){
    .accountContainer > div > div.wrapper > div > div:first-of-type ul li{
        margin: 0 auto;
   }
    .rzTH80, .rzTH40uc, .rzSB50uc, .rzSB50, .rzLT40, .rzSB30{
       font-size: 20px;
   }
    .rzTH24{
       font-size: 18px;
   }
    .twRB18{
       font-size: 12px;
   }
    [class^='image'] > div h4{
        padding: var(--sp40) 0;
   }
}
@media screen and (min-width: 768px) and (max-width: 1279px){
    .rzTH80, .rzTH40uc{
       font-size: 40px;
   }
    .rzSB30, .rzSB50uc{
       font-size: 30px;
   }
    [class^='image'] > video, [class^='image'] > img{
        margin-bottom: var(--sp80);
        width: 100%;
   }
    [class^='image'] > div h4{
        padding: var(--sp20) 0 var(--sp40);
   }

}
@media screen and (max-width: 1279px) {
    p.rbRG16, p.rzTH16,section.detailContainer aside h3{
       line-height: 30px;
   }
    .rzTH55{
       font-size: 55px;
   }
    .rzLT40{
       font-size: 40px;
   }
    .rbMD30, .rzTH55uc, .rzSB50, .rbSB50, .rbSB30{
       font-size: 30px;
   }
    .rzSB24, .rzTH24{
       font-size: 24px;
   }
    .rzSB20, .rzSB40uc, .rzLT20, .rbRG20{
       font-size: 20px;
   }
    .rzTH20, .rzTH20uc, .rbRG18{
       font-size: 16px;
   }
    .rbMD14, .rbBL18, .rzTH20uc{
       font-size: 14px;
   }
    .rzLT18{
       font-size: 12px;
   }
    .rbRG10{
       font-size: 10px;
   }
    :root{
        --sp345: 80px;
        --sp190: 80px;
        --sp80: 40px;
        --sp60: 30px;
   }
    section.detailContainer > div:nth-of-type(3), section.detailContainer > div:nth-of-type(3) nav ul li img, section.detailContainer > div:nth-of-type(3) nav div img.display-img{
        margin: 0 auto;
   }
    [class^='image']{
        margin-bottom: var(--sp80);
   }
    [class^='imageLf']{
        display: flex;
        flex-direction: column;
   }
    [class^='image'] > div{
        padding-inline: 3.25%;
   }
    [class*='imageRT']{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: var(--sp80);
   }
    [class^='middle'] {
        width: 93.5%;
   }
    [class^='middle'] > h4, [class^='full'] > h4{
        padding-bottom: var(--sp40);
   }
    [class*="long"]{
        height: 30px;
        max-width: 80px;
        padding: 15px 0;
   }
    [class*="more"]{
        height: 40px;
   }
    [class*='twoface'] > div > div {
        padding-block: var(--sp80);
   }
    [class*='twoface'] > div {
        flex-direction: column;
   }
    [class*="slice"]{
        height: 30px;
        max-width: 80px;
   }
}
@media screen and (min-width: 1280px){
    p.rzTH16, td>ul>li.rbRG16, dd.rbRG16{
       line-height: 30px;
   }
    p.rbRG16:not(div.superCharge p, ul li > p){
        line-height: 50px;
   }
   [class*='10']{font-size:10px}[class*='16']{font-size:16px}[class*='18']{font-size:18px}[class*='20']{font-size:20px}[class*='24']{font-size:24px}[class*='30']{font-size:30px}[class*='40']{font-size:40px}[class*='50']{font-size:50px}[class*='55']{font-size:55px}[class*='60']{font-size:60px}[class*='80']{font-size:80px}[class*='120']{font-size:120px}
    [class^='image']{
        display: flex;
        margin-bottom: var(--sp80);
   }
    [class^='image'] > video, [class^='image'] > div, [class^='image'] > img{
        width: 50%;
   }
    [class^='image'] > img{
        object-fit: contain;
   }
    [class^='image'] > video{
        height: 540px;
        max-width: 960px;
   }
    [class*='Lf'] > div{
        padding: 0 var(--sp80) 0 var(--sp110);
   }
    [class*='RT'] > div{
        padding: 0 var(--sp110) 0 var(--sp80);
   }
    [class^='image'] > div h4{
        padding: var(--sp80) 0 var(--sp40);
   }
    [class^='middle'] > h4, [class^='full'] > h4{
        padding-bottom: var(--sp40);
   }
    [class^='middle'] > div ol{
        grid-template-columns: repeat(3, 1fr);
   }
    [class^='full'] > p, [class^='middle'], [class*='twoface'] > div{
        max-width: 1200px;
   }
    [class*='twoface'] > div > div{
        flex: 1;
        padding-block: var(--sp140) var(--sp80);
        max-width: 600px;
   }
    [class*="long"]{
       max-width: 200px;
        max-height: 45px;
        padding: 15px 0;
   }
    [class*="slice"]{
        height: 45px;
        max-width: 120px;
   }
    header>div>nav>ul>li ol, header>div>div:nth-of-type(2) ul, section.detailContainer > div:nth-of-type(3) nav{
        background-color: var(--GS02);
   }
}
[class*="corner"]{
    color: var(--B01);
    padding: 20px 0px;
    transition: color 0.3s;
    z-index: 1;
    max-width: 110px;
    max-height: 40px;
}
[class$='BW']{
   background: linear-gradient(90deg, var(--GS12), var(--GS01));
}
[class$='BB']{
   background: linear-gradient(90deg, var(--GS12), var(--B04));
}
[class$='BBW']{
   background: linear-gradient(90deg, var(--GS12), var(--B04), var(--GS01));
}
[class$='BBG']{
   background: linear-gradient(90deg, var(--GS12), var(--B04), var(--GS05));
}
[class$='BT']{
   background: linear-gradient(90deg, var(--GS12), var(--B01));
}
[class$='BTR']{
   background: linear-gradient(90deg, var(--GS12), var(--B01), var(--red));
}
[class$='WB']{
   background: linear-gradient(90deg, var(--GS01), var(--B04));
}
[class$='BPW']{
   background: linear-gradient(90deg, var(--GS12), var(--B06), var(--GS01));
}
[class$='BRP']{
   background: linear-gradient(90deg, var(--GS12), var(--red), var(--pink));
}
[class$='Bgray']{
   background: linear-gradient(90deg, var(--B04), var(--GS08));
}
[class$='GP']{
   background: linear-gradient(90deg, var(--GS08), var(--B06));
}
[class$='GreenB']{
   background: linear-gradient(90deg, #2c5b5b, var(--GS12));
}
[class$='BRW']{
   background: linear-gradient(90deg, var(--GS12), var(--red), var(--GS01));
}
[class$='BWP']{
   background: linear-gradient(90deg, var(--GS12), var(--GS01), var(--pink));
}
[class$='YRP']{
   background: linear-gradient(90deg, var(--yellow), var(--red), var(--B06));
}
[class$='BBR']{
   background: linear-gradient(90deg, var(--GS12), var(--B04), var(--red));
}
[class$='Trio']{
   width: 33.33%;
}
[class$='Duo']{
   width: 50%;
}
[class$='List']{
    background-size: 214px;
}
.cart-Toggle{
    padding: 13px 10px;
    background-color: var(--B02);
    max-width: 110px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
}
[class$='Panel'], [class$='Popup'], [class^=btn-], [class*=more], main > div:first-of-type > ul, main > div:nth-of-type(3) > ul,main > div:nth-of-type(3) > ul li,div.listContainer > div > aside ul li > b,div.listContainer > div > div:first-child > div:nth-of-type(2) select,div.listContainer > div > div:first-child > div:nth-of-type(2) label,div.listContainer > div > aside ul li,div.listContainer > div > aside ul li > ol li label,div.listContainer > div > div:last-of-type > ul li > div,div.listContainer > div > div:last-child >.test >div:first-child,div.grid-group-wrapper > ul > li > div,ol.pager,div.details > div.full > div,div.details > div.full > div img,section.detailContainer > div:nth-of-type(3) nav > div,#sort,section.twoface > div > div.checkOut fieldset > ul > li,.arrival > ol li:before,.arrival > ol li,div.dark > div > div:first-of-type > div fieldset div,div.dark > div > div:first-of-type > div fieldset > ul > li,div.dark > div > div:first-of-type > div:first-of-type fieldset div > p:last-of-type,section.detailContainer > div:first-child > div > input:first-of-type,.accountContainer > div > div.wrapper > ul li,div.dark > div > div:first-of-type,main > div:first-of-type,div.dark > div,div.wave,div.wave > ul > li h3,div.wave > ul > li{
    position: relative;
}
section.detailContainer > div:first-child > div, section.detailContainer > div:nth-of-type(3) nav, section.twoface > div > div.checkOut ul li input, section.twoface div.calculator > div:first-of-type > div input, section.twoface > div > div.checkOut, div.dark > div > div:first-of-type input, .accountContainer > div > div.wrapper > div > div:first-of-type ul li img, div.orderStatus > figure img, div.wave > div.supportSearch > form{box-sizing: border-box;}
[class*='west'],[class*='east'],[class*='north'], main > div:first-of-type > ul li div, main > div:first-of-type > ul li:nth-child(6), ul.bar li, section.detailContainer > div:nth-of-type(3) > aside > ul > li > input{
    opacity: 0;
}
main > ul li h4, div.wave > div.supportSearch > form, div.dark > div > div:nth-of-type(2) h2, .returns > ol li > dl dt{
    margin-bottom: var(--sp20);
}
div.details .legend h4, div.dark > div > div:first-of-type > div.createDell fieldset div:nth-of-type(3), div.dark > div > div:first-of-type > div.findPassword fieldset > *, div.dark > div > div:first-of-type > div.findPassword fieldset > button, section.twoface > div > div.checkOut form fieldset legend, section.twoface > div > div.checkOut form fieldset ul > li, main > div:nth-of-type(2) > div h3, div.dark > div > div:first-of-type > div fieldset > ul > li, section.twoface > div > div.checkOut fieldset > ul > li {
    margin-bottom: var(--sp30);
}
main > div:nth-of-type(3) > div div h2, div.grid-group-wrapper > ul > li, div.listContainer > div > div:last-child > ul > li, [class^='image'] > div ul li p, section.detailContainer > div:nth-of-type(3) > aside > div > h3, article.rightsInfo h2, article.rightsInfo > ul, section.twoface > div > div.checkOut fieldset legend, div.dark > div > div:first-of-type > div fieldset legend, div.wave > div.supportSearch h4, div.wave > div.supportSearch p, .accountContainer > div h2{
    margin-bottom: var(--sp40);
}
div.details > div.superCharge, div.details > div.fineTuned, div.wave > ul, div.listContainer{
    margin-bottom: var(--sp80);
}
section.twoface > div > div.checkOut form, div.calculator > a{
    margin-top: var(--sp40);
}
/* gap */
div.listContainer > div > div:last-child > ul > li > div > div:last-child, div.wave > ul{
    gap: 20px;
}
div.details > div.fineTuned > div ul, .accountContainer > div > div.wrapper > div, .accountContainer > div > div.wrapper, .accountContainer > div > div.wrapper > ul{
    gap: 40px;
}
/* padding */
section.twoface > div > div.checkOut{
    padding-inline: var(--sp80);
}
main > div:nth-of-type(3) > div, div.details > h4 .recycle img, div.wave{
    padding-block: var(--sp80);
}
/* lineheight */
#sort, section.twoface div.calculator > div:first-of-type h3, div.listContainer > div > div:last-child > ul > li > div ul li, div.listContainer > div > div:last-child > ul > li > div h3, section.detailContainer > div:nth-of-type(3) > aside > ul > li > h4, div.calculator > p{
    line-height: 21px;
}
p.rzTH18, [class^='image'] > div ul li p, div.listContainer > div > aside ul li > ol li, section.detailContainer > div:nth-of-type(2) table tr th, section.detailContainer > div:nth-of-type(2) table tr td, section.detailContainer > div:nth-of-type(2) table tr td ul li, section.detailContainer > div:nth-of-type(3) > aside > div > ul > li, div.details > div.superCharge > div ul li p, div.wave > ul > li > p, .accountContainer > div > div.wrapper > div > div > p, div.dark > div > div:first-of-type > div.createDell fieldset > p, div.dark > div > div:nth-of-type(2) ul li dl dd, article.rightsInfo > ul li > p, article.rightsInfo > ul li > address, div.details > ul li dl dd, .returns > ol li > dl dd{
    line-height: 30px;
}
/* cursor */
[class$="Back"], main > div:first-of-type .sButton > button, main > div:nth-of-type(3) > div label, div.listContainer > div > aside > input, div.listContainer > div > aside ul li > b, div.listContainer > div > aside ul li > ol li label, section.detailContainer > div:first-child > div > input:first-of-type, section.detailContainer > div:nth-of-type(3) > aside > ul > li > label, section.detailContainer > div:nth-of-type(3) > aside > div input, div.wave > div.supportSearch > form input:nth-of-type(2), div.dark > div > div:first-of-type > div button, div.dark > div > div:first-of-type > div.createDell fieldset button, div.dark > div > div:first-of-type > div.findPassword fieldset > button, section.twoface > div > div.checkOut button, .arrival > ol li:not(:nth-of-type(4)):hover:before{
    cursor: pointer;
}
/* textalign */
[class^='middle'] > div, div.details > div.superCharge > div ul li, section.detailContainer > div:nth-of-type(2) table, div.dark > div > div:first-of-type > div.createDell fieldset div, div.dark > div > div:first-of-type > div.createDell fieldset > p, div.dark > div > div:first-of-type > div.createDell fieldset div, .returns > ol li, section.twoface > div > div.checkOut fieldset > ul > li:nth-of-type(3), section.twoface div.calculator > div:first-of-type h3{
    text-align: left;
}
ul.bar li, ol.pager li, div.listContainer > nav ul li, div.details > div.superCharge > div, div.details > div.fineTuned > div, div.dark > div > div:first-of-type, div.dark > div > div:nth-of-type(2), .returns > div:first-of-type, .arrival > ol li, .accountContainer > div > div.wrapper > div > div:first-of-type ul li figcaption, div.orderStatus > figure figcaption, .accountContainer > div > div.wrapper > div > div:first-of-type ul li figcaption.accountContainer, .accountContainer > div > div.wrapper > div > div:first-of-type ul li:nth-of-type(2) a, section.twoface > div > div.checkOut form, div.wave > div > a.Back{
    text-align: center;
}
main > div:nth-of-type(3) > ul li, main > div:first-of-type .sButton > button, div.listContainer > div > div:last-child .gradient li, div.listContainer > div > div:first-child > div button, section.detailContainer > div:nth-of-type(3) button, section.twoface > div > div.checkOut form fieldset ul:first-of-type > li:first-child, div.calculator > div:first-of-type > div > button{
    text-indent: -9999px;
}
div.details .legend, div.details > ul, .returns{
    margin: var(--sp80) auto;
}
div.details .legend nav > div img {
    margin: var(--sp40) auto;
}
main > ul > *, div.details .legend >*, div.calculator > *, div.black, div.details > div.fineTuned > div ul li{margin-inline: auto; text-align: center;}
div.listContainer > div > div:last-child > ul > li > div div:first-of-type img, section.detailContainer > div:nth-of-type(3) nav div img.display-img, div.details > div.full > div img, .twoface > div, div.dark > div > div:nth-of-type(2) img, .arrival > ol li:before{
    margin: 0 auto;
}
/** marginbottom */
div.listContainer > nav ul li a img, div.wave > ul > li ol li{
    margin-bottom: var(--sp15);
}
/* color */
div.listContainer > nav ul li a, section.twoface > div > div.checkOut fieldset > a:hover, section.detailContainer > div:nth-of-type(3) > aside > ul > li > label, div.details > div.full > div > div, div.details > ul li dl dt, div.details > div.superCharge > div ul li b, div.wave > ul > li > p, div.wave > div > a.Back{
    color: var(--GS01);
}
div.listContainer > div > div:first-child > div:nth-of-type(2) select option, section.detailContainer > div:first-child > div > input:first-of-type, section.detailContainer > div:nth-of-type(2) table tr td, div.details > ul li dl dd, section.twoface > div > div.checkOut fieldset > a{
    color: var(--GS05);
}
div.listContainer > div > div:last-child > ul > li > div ul li, .arrival > ol li:nth-child(n+3){
    color: var(--GS06);
}
div.listContainer > div > aside ul li > ol li{
    color: var(--GS08);
}

div.wave > ul > li:nth-of-type(2) ol li a:hover{
    color: var(--B01);
}
div.wave > ul > li:nth-of-type(4) ol li a:hover{
    color: var(--B02);
}
div.wave > div.supportSearch > form input::placeholder, ol.pager li a:hover {
    color: var(--B04);
}
div.wave > ul > li:nth-of-type(3) ol li a:hover{
    color: var(--B05);
}
div.wave > ul > li:nth-of-type(1) ol li a:hover{
    color: var(--B06);
}
[class*='zero'],
.cart-Toggle,
.arrival > ol li:nth-child(3):hover{
    color: var(--GS12);
}
/* * BACKGROUND COLOR */
[class*='twoface'] > div > div:first-of-type, div.wave > div.supportSearch > form input:nth-of-type(1), .twowrap > div > div:first-of-type, div.dark > div > div:first-of-type, section.twoface > div > div.checkOut, section.twoface > div > div.checkOut fieldset > ul > li:not(:nth-of-type(3)) input:focus ~ label, section.twoface > div > div.checkOut fieldset > ul > li:not(:nth-of-type(3)) input:not(:placeholder-shown) ~ label, section.twoface > div > div.checkOut fieldset > ul > li:not(:nth-of-type(3)) input:valid ~ label, div.dark > div > div:first-of-type > div fieldset input:focus ~ label, div.dark > div > div:first-of-type > div fieldset input:not(:placeholder-shown) ~ label, div.dark > div > div:first-of-type > div fieldset input:valid ~ label, div.calculator input{
    background-color: var(--GS01);
}
article.rightsInfo > ul{
    background-color: var(--GS04);
}
.arrival > ol li:nth-of-type(3):after, .arrival > ol li:nth-of-type(3):before, .arrival > ol li:nth-of-type(4):before{
    background-color: var(--GS06);
}
div.calculator > div:nth-of-type(2) a{
    background-color: var(--GS07);
}
div.listContainer > div > aside ul li > b:after, div.listContainer > div > aside ul li > ol:after{
    background-color: var(--GS08);
}
div.listContainer > div > div:first-child > div:nth-of-type(2) select option {
    background-color: var(--GS09);
}
div.listContainer > nav, div.listContainer > div > div:last-child > ul > li > div div:first-of-type, .accountContainer > div > div.wrapper > div > div:first-of-type ul li img, div.orderStatus > figure img, div.orderStatus > div address, div.wave > div > a.Back, div.wave > ul > li, div.wave > div.supportSearch{
    background-color: var(--GS10);
}
div.listContainer, section.detailContainer > div:first-child, [class*='twoface'] > div > div:last-of-type, section.detailContainer > div:nth-of-type(2), section.detailContainer > div:nth-of-type(3) aside, .accountContainer > div > div.wrapper > div >*, .twowrap > div > div:last-of-type, section.twoface button, div.dark > div > div:nth-of-type(2){
    background-color: var(--GS11);
}
[class^='image'] > video, [class^='image'] > img, div.listContainer > div > div:last-child > ul > li >div, div.listContainer > div > div.list-group-wrapper > ul > li > div div:first-of-type, div.details > div.full, div.details > div.superCharge, section.detailContainer > div:nth-of-type(3) nav ul li, .accountContainer > div > div.wrapper > div > div:first-of-type ul li figcaption, .twowrap, section.twoface > div > div.checkOut form fieldset ul:first-of-type > li:last-child, div.orderStatus > figure figcaption{
    background-color: var(--GS12);
}
section.twoface > div > div.checkOut form fieldset ul:first-of-type > li:first-child{
    background-color: #f7c518;
}
div.wave > ul > li:nth-of-type(2):after{
    background-color: var(--B01);
}
div.listContainer > div > div:last-child> ul > li > div > div mark, div.details > div.fineTuned > div ul li:nth-of-type(3), div.wave > ul > li:nth-of-type(4):after, div.listContainer .cart-Toggle{
    background-color: var(--B02);
}
div.details > div.fineTuned > div ul li:nth-of-type(2){
    background-color: var(--B03);
}
#pager-line, div.wave > div.supportSearch > ol li, div.wave > div.supportSearch > form > input:last-of-type, div.dark > div > div:first-of-type > div.findPassword fieldset > button, div.dark > div > div:first-of-type > div:first-of-type fieldset div button:first-of-type, div.dark > div > div:first-of-type > div.createPassword fieldset > button, div.dark > div > div:first-of-type > div:first-of-type fieldset div > p:last-of-type:before, div.dark > div > div:first-of-type > div:first-of-type fieldset div > p:last-of-type:after, div.dark > div > div:first-of-type > div.createDell button:first-of-type, section.twoface > div > div.checkOut fieldset div button:first-of-type, section.twoface > div > div.checkOut .createPassword fieldset > button{
    background-color: var(--B04);
}
div.listContainer .cart-Toggle:hover, div.details > div.fineTuned > div ul li:nth-of-type(4), div.wave > ul > li:nth-of-type(3):after, .arrival > ol li:after, .arrival > ol li:not(:nth-of-type(4)):hover:before, .arrival > ol li:nth-of-type(1):before, .arrival > ol li:nth-of-type(2):before{
    background-color: var(--B05);
}
div.details > div.fineTuned > div ul li:nth-of-type(1), div.wave > ul > li:nth-of-type(1):after{
    background-color: var(--B06);
}
div.details > div.full{
    padding-block: var(--sp60);
}
.accountContainer > div > div.wrapper > div > div:first-of-type ul li figcaption, div.dark > div > div:first-of-type > div.findPassword fieldset > button{
    padding-block: var(--sp10);
}
section.twoface > div > div.checkOut form fieldset ul:first-of-type > li:last-child{
    padding-right: var(--sp20);
}
section.twoface > div > div.checkOut form{
    margin-top: var(--sp40);
}
div.details > div.full > div img, div.details > div.full > div > div, main > div:nth-of-type(3) > div:has(input:checked) ~ ul li:hover a,div.dark > div > div:first-of-type > div{
    height: 100%;
}
.accountContainer > div > div.wrapper > ul li p{
    left: 20px;
    bottom: 40px;
}
.accountContainer > div > div.wrapper > ul li:not(:last-of-type) a{
    left: 20px;
    bottom: 20px;
}
/* background */
main > div:first-of-type > ul li:nth-child(1), main > div:nth-of-type(3) > ul li, main > div:nth-of-type(3) > div:has(input:checked) ~ ul li, .show{
    opacity: 1;
}
[class$='List'], main > ul li, main > ul li span, main > div:nth-of-type(3) > ul li, div.listContainer > div > div:first-child > div button, section.detailContainer > div:nth-of-type(3) > aside > div input, div.details > div.fineTuned > div ul li dl dt, div.calculator > div:first-of-type > div > button, div.dark > div > div:nth-of-type(2) ul li dl dt, section.twoface > div > div.checkOut form fieldset ul:first-of-type > li, div.wave > div.supportSearch > ol li, div.wave > ul > li{
    background-repeat: no-repeat;
}
div.listContainer > div > div:first-child > div button, section.twoface > div > div.checkOut form fieldset ul:first-of-type > li, div.calculator > div:first-of-type > div > button{
    background-position: center center;
}
main > div:first-of-type > ul li, main > ul li, main > ul li span, main > div:nth-of-type(3) > ul li{
    background-position: center;
}
div.dark > div > div:nth-of-type(2) ul li dl dt{
    background-position: top center;
}
div.details > div.fineTuned > div ul li dl dt{
    background-position: center top;
}
div.wave > div.supportSearch > ol li{
    background-position: left 20px center;
}
div.wave > ul > li{
    background-position: right bottom ;
}
main > div:first-of-type > ul li, main > ul li{
    background-size: cover;
}
/* grid */
[class^='middle'] > div ol, div.listContainer > div, div.details > div.fineTuned > div ul, div.details > div.superCharge > div ul, div.details > div.full > div > div > ul, .twowrap > div, div.wave > ul, div.wave > ul > li > ol{
    display: grid;
}
section.detailContainer > div:nth-of-type(3) nav div img.display-img, section.detailContainer > div:nth-of-type(3) nav ul li img, div.details > div.full > div > div > ul li img{
    object-fit: contain;
}
