div.details > div.full{
    padding-block: var(--sp60);
}
.accountContainer > div > div.wrapper > div > div:first-of-type ul li figcaption,
div.dark > div > div:first-of-type > div.findPassword fieldset > button{
    padding-block: var(--sp10);
}
section.twoface > div > div.checkOut form fieldset ul:first-of-type > li:last-child{
    padding-right: var(--sp20);
}
section.twoface > div > div.checkOut form{
    margin-top: var(--sp40);
}
div.details > div.full > div img,
div.details > div.full > div > div,
main > div:nth-of-type(3) > div:has(input:checked) ~ ul li:hover a{
    height: 100%;
}
.accountContainer > div > div.wrapper > ul li p{
    left: 20px;
    bottom: 40px;
}
.accountContainer > div > div.wrapper > ul li:not(:last-of-type) a{
    left: 20px;
    bottom: 20px;
}
/* *mobile */

/*! tabet */
/*?s mobile Tablet */

/* desktop */